@if (!isTransfered) {
<mat-dialog-content>
  <mat-card class="example-card shadow-lg" appearance="outlined">
    <mat-card-content class="d-flex justify-content-center align-items-center">
      <img mat-card-sm-image class="img-fluid" style="width: 200px; height: 200px;"
        src="https://res.cloudinary.com/dy7gwan0n/image/upload/v1718759410/bank_finance_cash_dollar_purchase_money_transfer_buy_emtaby.svg">
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
}
@else {
<h2 mat-dialog-title class="mb-0">Transferir saldo</h2>
<mat-dialog-content>
  ¡Se ha transferido el saldo exitosamente!
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
}