<app-navbar-dashboard-action></app-navbar-dashboard-action>

<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Agregar saldo</h1>
    </div>
  </div>

  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstStepFormGroup" [editable]="isEditable">
      <form [formGroup]="firstStepFormGroup">
        <ng-template matStepLabel>Tipo</ng-template>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="Efectivo">Efectivo</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondStepFormGroup" [editable]="isEditable">
      <form [formGroup]="secondStepFormGroup">
        <ng-template matStepLabel>Monto</ng-template>
        <mat-form-field>
          <mat-label>Monto</mat-label>
          <input matInput type="number" formControlName="amount" placeholder="100$ mínimo">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Hecho</ng-template>
      <p>Tipo de pago: {{firstStepFormGroup.get('type')?.value}}</p>
      <p>Monto: {{secondStepFormGroup.get('amount')?.value}}$</p>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
        <button mat-button (click)="stepper.reset()">Listo</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<app-footer></app-footer>