.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.mr-3 {
    margin-right: 1rem;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-card {
    margin-bottom: 15px;
}

.mat-card-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 5px;
}